{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block H1 %}Contact{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="card border-info mb-3 text-center">
            <div class="card-header">Laurent Chang</div>
            <div class="card-body">
                <h6 class="card-title">Acupunteur</h6>
                <h6 class="card-title">chang.acupuncture@gmail.com</h6>
                <h6 class="card-title">06 95 01 02 03</h6>
                <a href="https://www.linkedin.com/in/pierremaddio/" target="_blank">
                    <h6 class="card-title">linkedin</h6>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}